<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>List Employee</title>
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
<div class="container">
    <h2>List Sale</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Sale Name</th>
            <th>Sale ID</th>
            <th>DOS</th>
            <th>Products Name</th>


        </tr>
        </thead>
        <tbody>
        <tr th:each="sale : ${sales}">
            <td th:text="${sale.SalesmanName}"></td>
            <td th:text="${sale.SalesmanID}"></td>
            <td th:text="${sale.DOS}"></td>
            <td th:text="${sale.product.ProdName}"></td>



            </td>
        </tr>
        </tbody>
    </table>
</div>

<!-- Bootstrap JS CDN -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
